@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetical', sans-serif;
  padding: 4rem;
  font-size: 4rem;
  line-height: 4rem;
  color: #000;
}

b {
  color: #900;
}
